*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    width: 1100px;
    height: 480px;
    display: flex;   
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: url(video/background.jpg) no-repeat center center/cover;
  }

.container .videos{
    width: 20%;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .videos video{
    width: 95%;
    height: 100px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}

.container .videos video:nth-child(1){
    margin-top: 0;
}

.container .videos video:hover,
.container .videos .active{
    transform: scale(1.06);
    border: 3px solid green;
}

.container .main-video{
    width: 80%;
	padding: 10px;
}

.container .main-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid green;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 3px 3px;
}
h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
}

/* YOUTUBE VIDEO PLAYER CONTAINER
############################### */
.title {
  	width: 100%;
  	max-width: 854px;
  	margin: 0 auto;
}

.caption {
  	width: 100%;
  	max-width: 854px;
  	margin: 0 auto;
  	padding: 20px 0;
}

.vid-main-wrapper {
  	width: 100%;
  	max-width: 1100px;
  	min-width: 440px;
  	background: #fff;
  	margin: 0 auto;
}

/*  VIDEO PLAYER CONTAINER
############################### */
.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px; 
	height: 0; 
        width:70%;
        float:left;
}
.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 360px;
}

/*  VIDEOS PLAYLIST 
############################### */
.vid-list-container {
	width: 30%;
      	height:360px;
	overflow: hidden;
	float:right;
}

.vid-list-container:hover, .vid-list-container:focus {
       overflow-y: auto;
}

	ol#vid-list {
		margin:0;
		padding:0;
		background: #222;
		}

	ol#vid-list li {
		list-style: none;
		}

	ol#vid-list li a {
		text-decoration: none;
		background-color: #222;
		height:55px;
		display:block;
		padding:10px;
		}

	ol#vid-list li a:hover {
		background-color:#666666
	}

.vid-thumb {
	float:left;
	margin-right: 8px;
	}

.active-vid {
	background:#3A3A3A;
	}

	#vid-list .desc {
		color: #CACACA;
		font-size: 13px;
		margin-top:5px;
	}

@media (max-width: 624px) {
	body {
		margin: 15px;
	}
.caption {
	margin-top: 40px;
	}
.vid-list-container {
	padding-bottom: 20px;
	}

}

/*  IMAGE SLIDER
############################### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #80ed99;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.container{
    width: 80%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.container .image{
    display: none;
}

.container .image img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.container .button{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.container .button a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    user-select: none;
}

.container .button .prev{
    border-radius: 0 5px 5px 0;
}

.container .button .next{
    border-radius: 5px 0 0 5px;
}

.dots{
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 45%;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    height: 30px;
    border-radius: 15px;

}

.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #bbb;
    display: inline-block;
    margin: 0 2px;
}

.active, .dot:hover{
    background: yellow;
}
